<ion-view class="store">
    <ion-header-bar class="bar-dark storeHeader">
        <button class="button-clear" ng-click="Back()">
            <i class="iconfont icon-zhuanfa1"></i>
        </button>
        <h2 class="title">{{targetTitle}}</h2>
    </ion-header-bar>
	<ion-content style="margin-top: 44px;">
		<div class="banner">
			<img src="img/001.jpg"/>
		</div>
		<div class="banner_text">
            <h2>佳能Eos</h2>
            <h3>{{targetTitle}}</h3>
        </div>
	</ion-content>
</ion-view>