<ion-view hide-nav-bar="true" style="margin-top: 44px;">
	<div class="list card">
		<div class="item item-avatar">
			<img src="img/img1.jpg"/>
			<h2>本来视界</h2>
			<p>拍摄美好的世界</p>
			<p class="date">05.13</p>
		</div>
		<div class="item item-body">
			<img class="full-image" src="img/008.jpg"/>
			<p>#天空这么美#</p>	
			<div class="toolsBar">
				<a href="" class="subdued">
					<i class="iconfont icon-xihuan love"></i> 4
				</a>
				<a href="" class="subdued">
					<i class="iconfont icon-pinglun1"></i> 4
				</a>
				<a href="" class="subdued">
					<i class="iconfont icon-zhuanfa"></i> 分享
				</a>
			</div>			
		</div>
	</div>
</ion-view>